language: node_js
node_js:
  - '12'
  - '10'
  - '8'
os:
  - linux
  - windows
sudo: true
before_install:
  # Configure npm && dir
  - npm config set unsafe-perm true
  - chmod -R 777 ./bin
install:
  # npm install
  - npm install
script:
  # Run test script
  - npm run test-js-out
  - npm run test-ts-out
